<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SendMailServlet</servlet-name>
        <servlet-class>com.tanzhouedu.mail.serelt.SendMailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>SendMailServlet</servlet-name>
		<url-pattern>/sendMailServlet</url-pattern>
	</servlet-mapping>
</web-app>